@media (min-width: 1200px){
.main-menu{
  display:flex;
  list-style: none;
   margin: 0; 
  padding-left: 0; 
  background: white;
  font-weight:bold;
  font-family:Arial Black;

}
.main-menu li{
  margin-right:5px;
  padding:35px;

}
.main-menu li:hover{
    background-color: #f87777;
    cursor: pointer;
    color: #f8f8f8;
    border-radius: 49px;
}
.main-menu{
  position: fixed;
  right:0px;
  top;
}
.image1{
  position:fixed;
  width:170px;
  height:100px;
  left:5px
  ;top:0px;
}
.image2{
  position: fixed;
  top:120px;
  bottom:50px;
  width:2000px;
  height:1001px;
  z-index:1;
}
.image3{
  position:fixed;
  top:350px;
  left:950px;
  z-index:3
}
.text1{
  position:relative;
  z-index:2;
  top:400px;
  left:550px;
  font-weight:bold;
  font-family:Arial Black;
}
.test{
  position: relative;
  left:971px;
  height:34px;
  top:377px;
  z-index:4; 

}
.test2{
  position: relative;
  left:748px;
  height:34px;
  top:437px;
  z-index:4; 
}
.test3{
  position: relative;
  left:760px;
  height:34px;
  top:437px;
  z-index:4; 
}
.test4{
  position: relative;
  left:490px;
  height:34px;
  top:502px;
  z-index:4; 
}
.test5{
  position: relative;
  left:634px;
  height:34px;
  top:418px;
  z-index:4;
}
}